[
	{sasl, [
			{sasl_error_logger, false},
			{utc_log, true}
	]},

	{lager, [
%% log levels: none, debug, info, notice, warning, error, critical, alert, emergency
    {error_logger_redirect, true},
    {log_root, "logs"},
    {handlers, [
      {lager_console_backend, [
%         debug, 
         info, 
         {lager_default_formatter, [
            time, " [",severity,"] ", pid, " ", 
            {module, [module, ":"], [""]}, 
            {function, [function, ":"], [""]}, 
            {line, [line], [""]},
            {endtype, [" -", endtype, "- "], [" - "]}, 
            message, "\n"
         ]}
      ]},
      {lager_file_backend, [{file, "common.log.txt"}, {level, info}]}
    ]},
    {traces, [
    ]}
  ]},

	{mqtt_server, [
%		{storage, mysql},
		{storage, dets},
		{port, 18883},
		{port_tsl, 18483},
		{port_ws, 8080},
		{port_wss, 4443},
		{certfile, "tsl/server.crt"},
		{cacertfile, "tsl/rootCA.pem"},
		{keyfile, "tsl/server.key"},
		{verify, verify_peer}
	]}
].