[
	{sasl, [
			{sasl_error_logger, false},
			{utc_log, true}
	]},

	{lager, [
%% log levels: none, debug, info, notice, warning, error, critical, alert, emergency
    {error_logger_redirect, false},
    {log_root, "logs"},
    {handlers, [
      {lager_console_backend, [
         {level, debug},
%%         {level, error},
         {formatter, lager_default_formatter},
         {formatter_config, [
            "  ", date, "T", time, " [",severity,"] ", pid, " ", 
            {module, [module, ":"], [""]}, 
            {function, [function, ":"], [""]}, 
            {line, [line], [""]},
            {endtype, [" -", endtype, "- "], [" - "]}, 
            message, "\n"
         ]}
      ]},
      {lager_file_backend, [
         {file, "server.log.txt"},
         {level, info},
         {formatter, lager_default_formatter},
         {formatter_config, [
            date, "T", time, " [",severity,"] ", pid, " ", 
            {module, [module, ":"], [""]}, 
            {function, [function, ":"], [""]}, 
            {line, [line], [""]},
            {endtype, [" -", endtype, "- "], [" - "]}, 
            message, "\n"
         ]}
      ]}
    ]},
    {traces, [
    ]}
  ]},

	{mqtt_server, [
%		{storage, mysql},
		{storage, dets},
		{port, 18883},
		{port_tls, 18483},
		{port_ws, 8880},
		{port_wss, 4443},
		{certfile, "/root/.ssh/lucky3p.com/certificate.crt"},
		{cacertfile, "/root/.ssh/lucky3p.com/ca_bundle.crt"},
		{keyfile, "/root/.ssh/lucky3p.com/private.key"},
%		{certfile, "tls/server/cert.pem"},
%		{cacertfile, "tls/server/cacerts.pem"},
%		{keyfile, "tls/server/key.pem"},
		{verify, verify_none}
	]}
].