{relx, [
	{release,
		{mqtt_server, "1.1.0" }, 
		[mqtt_server, mqtt_rest, sasl],
		[
			{sys_config, "./config/sys.config"},
			{vm_args, "./config/vm.args"},
			{mode, prod},
			{include_erts, false},
			{extended_start_script, true}
		]
	},
	{release,
		{mqtt_server_dev, "1.1.0" }, 
		[mqtt_server, mqtt_rest, sasl],
		[
			{sys_config, "./config-dev/sys.config"},
			{vm_args, "./config-dev/vm.args"},
			{mode, dev},
			{extended_start_script, true},
			{overlay, [
									{mkdir, "tls_cnfg"},
									{copy, "tls_cnfg/*", "tls_cnfg/"}
								]}
		]
	}
]}.

{profiles, [
  {prod, [
    {relx, [
      {mode, prod},
      {include_erts, false}
    ]}
  ]},

  {test, [
    {eunit_compile_opts, [{src_dirs, ["apps/mqtt_rest/src", "apps/mqtt_server/src"]}]},
    {eunit_tests, [{dir, "apps/mqtt_rest/test"}, {dir, "apps/mqtt_server/test"}, {dir, "apps/mqtt_server/test/v5"}]},
    {eunit_opts, [verbose]},
    {overrides, [{override, mqtt_common, [{erl_opts, [no_debug_info,{parse_transform, lager_transform},{d, 'TEST'}]}]}]},
    {deps, [
      {mqtt_client, {git, "https://github.com/alekras/mqtt_client.git", {branch, "version-2.1.0"}}}
    ]}
	]}
]}.