{relx, [
	{release,
		{mqtt_server, "2.2.0" }, 
		[mqtt_server, mqtt_rest, sasl],
		[
			{sys_config_src, "./config/sys_prod.config.src"},
			{vm_args_src, "./config/vm_prod.args.src"},
			{mode, prod},
			{include_erts, false},
			{extended_start_script, true},
			{overlay, [
									{mkdir, "config"},
									{copy, "config/sys*_prod.config", "config/"}
								]}
		]
	},
	{release,
		{mqtt_server_dev, "2.2.0" }, 
		[mqtt_server, mqtt_rest, sasl],
		[
			{sys_config_src, "./config/sys_dev.config.src"},
			{vm_args_src, "./config/vm_dev.args.src"},
%%			{mode, dev},
			{dev_mode, false}, {include_src, false}, {debug_info, keep}, {include_erts, true},
			{extended_start_script, true},
			{overlay, [
									{mkdir, "tls_cnfg"},
									{copy, "tls_cnfg/*", "tls_cnfg/"},
									
									{mkdir, "config"},
									{copy, "config/sys*_dev.config", "config/"}
								]}
		]
	}
]}.

{profiles, [
  {prod, [
    {relx, [
      {mode, prod},
      {include_erts, false}
    ]}
  ]},

  {test, [
%    {src_dirs, [{"test", [{recursive, true}]}]},
    {eunit_compile_opts, [
    	{src_dirs, [
    		"apps/mqtt_rest/src", 
    		"apps/mqtt_server/src", 
    		{"apps/mqtt_server/test",[{recursive, true}]}
    	]}
    ]},
%    {eunit_tests, [{dir, "apps/mqtt_rest/test"}, {dir, "apps/mqtt_server/test"}, {dir, "apps/mqtt_server/test/v5"}]},
    {eunit_opts, [verbose]},
    {erl_opts, [no_debug_info,{parse_transform, lager_transform}]},
    {overrides, [{override, mqtt_common, [{erl_opts, [no_debug_info,{parse_transform, lager_transform},{d, 'TEST'}]}]}]},
    {deps, [
      {mqtt_client, {git, "https://github.com/alekras/mqtt_client.git", {branch, "version-2.2.0"}}}
    ]}
	]}
]}.