{src_dirs, ["src"]}.

{deps, [
    {cowboy,      {git, "https://github.com/ninenines/cowboy.git", {tag, "2.0.0"}}},
    {mqtt_common, {git, "git://git.code.sf.net/p/mqtt-client/common", {branch, "master"}}},
    {lager,       {git, "git://github.com/basho/lager.git",        {branch, "master"}}},
    {ranch,       {git, "git://github.com/ninenines/ranch.git",    {branch, "master"}}}
  ]
}.

{erl_opts, [
  no_debug_info, 
  {parse_transform, lager_transform}
]}.

{eunit_compile_opts, [{src_dirs, []}]}.
{eunit_opts, [verbose]}.

{cover_enabled, false}.

{clean_files, ["doc/*"]}.

{edoc_opts, [
  {def, [{version, "1.0.2"}]},
  {private, false},
  {source_path, ["src"]},
  {title, "MQTT server for Erlang"}, 
  {overview, "src/overview.edoc"},
  {sort_functions, false}, 
  {stylesheet_file, "priv/my.css"},
  {preprocess, true},
  {includes, ["include"]}
]}.

{profiles, [
  {test, [
    {src_dirs, ["src"]},
    {deps, [
      {mqtt_client, {git, "git://git.code.sf.net/p/mqtt-client/git", {branch, "master"}}}
    ]}
	]}
]}.