[
	{sasl, [
			{sasl_error_logger, false},
			{utc_log, true}
	]},

	{lager, [
%% log levels: none, debug, info, notice, warning, error, critical, alert, emergency
    {error_logger_redirect, false},
    {log_root, "logs"},
    {handlers, [
      {lager_console_backend, [
         {level, debug},
%%         {level, error},
         {formatter, lager_default_formatter},
         {formatter_config, [
            "  ", date, "T", time, " [",severity,"] ", pid, " ", 
            {module, [module, ":"], [""]}, 
            {function, [function, ":"], [""]}, 
            {line, [line], [""]},
            {endtype, [" -", endtype, "- "], [" - "]}, 
            message, "\n"
         ]}
      ]},
      {lager_file_backend, [
         {file, "mqtt_server_0.log.txt"},
         {level, info},
         {formatter, lager_default_formatter},
         {formatter_config, [
            date, "T", time, " [",severity,"] ", pid, " ", 
            {module, [module, ":"], [""]}, 
            {function, [function, ":"], [""]}, 
            {line, [line], [""]},
            {endtype, [" -", endtype, "- "], [" - "]}, 
            message, "\n"
         ]}
      ]}
    ]},
    {traces, [
    ]}
  ]},

	{mqtt_client, [
		{host, "localhost"}, 
		{port, 8080}
	]},
	{mqtt_rest, [
		{port, 8080},
		{mqtt_rest_url, "http://localhost:8080"}
	]},
	{mqtt_server, [
		{port, 18883},
		{port_tls, 18483},
		{port_ws, 8880},
		{port_wss, 4443},
		{certfile, "tls_cnfg/server/cert.pem"},
		{cacertfile, "tls_cnfg/server/cacerts.pem"},
		{keyfile, "tls_cnfg/server/key.pem"},
		{verify, verify_none}
	]},
	{mqtt_common, [
%		{storage, dets},
%		{dets_home_folder, "/private/var/data/dets-storage"},
		{storage, mnesia},
		{mnesia_master, true},
		{cluster_nodes, []},
		{timeout, 102}
	]},
	{mnesia, [
		{dir, "/opt/mqtt/server/mnesia"},
		{schema_location, opt_disc}
	]}
].